#credentials-list-item-container {
    flex-direction: row;
    justify-content: space-between;
}

#credentials-list-item-input-container {
    flex-direction: row;
}

#credentials-list-item-input-container TextField {
    width: 140px;
}