#commit-window-view-container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
}

#commit-window-status-container {
    height: 80%;
}

#commit-window-view-message-container {
    position: absolute;
    bottom: 0;
    max-height: 20%;
    width: 100%;
}

#commit-window-view-message-textfield {
    max-height: 60%;
    -unity-text-align: upper-left;
}