#commit-window-view-container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    margin-top: 4px;
    flex-direction: column;
    padding-bottom: 64px;
}

#commit-window-status-container {
    max-height: 80%;
}

#commit-window-view-commit-foldout {
    position: absolute;
    bottom: 12px;
    left: 0;
    max-height: 55%;
    max-width: 98%;
    background-color: #333;
    border-radius: 16px;
    border-width: 2px;
    border-color: #555;
    padding: 6px;
    width: 100%;
}
